<section class="container info">

 <div class="popup-holder" [ngClass]="{show: showFormEdit, hide: !showFormEdit}" >
      <div class="popup-content">
        <div class="close-popap" (click)="hideEditForm()">X</div>
<form class="form"  [formGroup]="form" (ngSubmit)='submit()'>
<label for="address">Address<sup>*</sup></label>
  <input id="address" class="text-input" type="text"   placeholder="Enter address" formControlName="address">
   <div *ngIf="form.controls.address.touched && form.controls.address.invalid"  class="validation">
<small *ngIf="form.controls.address.errors?.required">address field is required</small>
<small *ngIf="form.controls.address.errors?.maxlength">address field length should be less than 70 symbols</small>
 <small *ngIf="form.controls.address.errors?.emptyString">address can not be empty field</small>

  </div>
<label for="contacts">Contacts<sup>*</sup></label>
 <input id="contacts" class="text-input" type="text"   placeholder="Enter contacts" formControlName="contacts">
  <div *ngIf="form.controls.contacts.touched && form.controls.contacts.invalid"  class="validation">
<small *ngIf="form.controls.contacts.errors?.required">contacts field is required</small>
<small *ngIf="form.controls.contacts.errors?.maxlength">contacts field length should be less than 30 symbols</small>
<small *ngIf="form.controls.contacts.errors?.emptyString">contacts can not be empty field</small>
  </div>

  <label for="wiFi">WiFi<sup>*</sup></label>
 <input id="wiFi" type="text" class="text-input"  placeholder="Enter wiFi" formControlName="wiFi">
 <div *ngIf="form.controls.wiFi.touched && form.controls.wiFi.invalid"  class="validation">
<small *ngIf="form.controls.wiFi.errors?.required">wiFi field is required</small>
<small *ngIf="form.controls.wiFi.errors?.maxlength">wiFi field length should be less than 20 symbols</small>
<small *ngIf="form.controls.wiFi.errors?.emptyString">wiFi can not be empty field</small>
  </div>

  <div class="form-button"> 
   <button class="btn sbm-btn" type="submit" (click)="hideEditForm()" [disabled]="form.invalid && form.touched">
     <span>Save</span>
    </button>
    <button class="btn sbm-btn" type="button" (click)="hideEditForm()">
     <span>Cancel</span>
    </button>
  </div>
    </form>
     </div> 
</div> 
  


<table>
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Contacts</th>
      <th scope="col">Wi-Fi</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let info of infos">

        <td data-label="Address">{{info.address}}</td>
        <td data-label="Contacts">{{info.contacts}}</td>
      <td data-label="WiFi">{{info.wiFi}}</td>
      <td data-label="Edit"><button class=" btn edit-btn" (click)="showEditForm()">edit</button></td>

    
</tr>
      
  </tbody>
</table>

    </section>

