<footer *ngFor="let i of info">
    
    <div class="item-info">
        <div class="item-info_img"><img src="../../../assets/images/location.png" alt=""></div>
        <div>{{i.address}}</div>
        </div>
    <div class="item-info ">
        <div class="item-info_img"><img src="../../../assets/images/phone.png" alt=""></div>
        <div>{{i.contacts}}</div>
    </div>
    
    <div class="item-info">
        <div class="item-info_img"><img src="../../../assets/images/wiFi.png" alt=""></div>
        <div>{{i.wiFi}}</div>
    </div>
</footer>