footer{
    height:90px;
    background-color:rgb(43, 42, 42);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
     position:sticky;
     left:0px;
     bottom:0px;
     width:100%;
}

.item-info {
    display: flex;
    flex-wrap: wrap;
}

.item-info_img {
   margin-right: 10px;;
}

img{
    width:30px;
    height: 30px;
  
}

@media all and (max-width:768px) {
    footer {
        flex-direction: column;
        font-size: 13px;
    }
    img {
      width: 20px;
      height: 20px;

    }
}