.category-container_add{
display:flex;
justify-content: space-around;
    margin-top:20px;
}
.category-form{
    display:flex;
    justify-content: space-around;

}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

.show{
    display:flex;
}
.hide{
    display: none;
}

