.navbar{
margin-top: 20px;
text-align: center;
width: 100%;

}

.categories-list {
    list-style-type: none;
}



.categories-list .category_item {
    text-decoration: none;
    font-weight: 700;
    display:inline-block;
    padding: 20px 10px;
}



.navbar a{
    text-decoration: none;
    color:rgb(19, 17, 17);
}

.navbar a:hover{
color:rgb(36, 28, 36);
}


.menu{
    display:none;
}

.menu-line{
width:20px;
height:3px;
background-color:white;
margin-bottom: 4px;
}

@media all and (max-width:480px){
    .navbar {
        flex-direction: column;
    }
    .menu {
    display:block;
    position:absolute;
    right:15px;
    top:15px;
}
.navbar .logo-container {
width:100%;
}

.categories-list .category_item{
display: block;
border-top: 1px solid white;
}

.show {
display: block;
  list-style-type:none;
    width: 100%;
    text-align:center;
    padding-top:10px;
}
.hide {
display: none;
}
}