.navbar {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.category_item  {
  all: unset;
  line-height: 50px;
  height: 50px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.category_item  a {
  text-decoration: none;
  color: rgb(26, 40, 41);
  transition: all 0.3s;
}

.category_item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(7, 7, 7, 0.5);
  border-bottom-color: rgba(7, 7, 7, 0.5);
  transform: scale(0.1, 1);
}

.category_item:hover a {
  letter-spacing: 2px;
}

.category_item:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.category_item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.category_item:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.menu{
    display:none;
}

.menu-line{
width:20px;
height:3px;
background-color:white;
margin-bottom: 4px;
}

@media all and (max-width:480px){
    .navbar {
        flex-direction: column;
    }
    .menu {
    display:block;
    position:absolute;
    right:15px;
    top:15px;
}

.categories-list .category_item{
display: block;
border-top: 1px solid white;
}


.show {
display: block;
  list-style-type:none;
    width: 100%;
    text-align:center;
    padding-top:10px;
}
.hide {
display: none;
}
}