<header>
   <div class="manager-btn">
        <button class="btn"  >
        <a [routerLink]="['/']">Client page</a>
        </button>
    </div>
    <nav class="navbar">
		<ul class="edit-list" 
            [ngClass]="{
                show: menuToggle, 
                hide:!menuToggle}">
				<li class="edit-list_item" ><a [routerLink]="['categories']">Categories</a></li>
                <li class="edit-list_item" ><a  [routerLink]="['meals']">Meals</a></li>
                <li class="edit-list_item" ><a a  [routerLink]="['info']">Info</a></li>
			</ul>
            <div class="menu" (click)="menuToggle=!menuToggle">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
		</nav>
       
    </header>
<main>

</main>