<header>
   <div class="manager-btn">
        <button class="btn"  >
        <a [routerLink]="['/']">Client page</a>
        </button>
    </div>
    <nav class="navbar">
		<ul class="edit-list" 
            [ngClass]="{
                show: menuToggle, 
                hide:!menuToggle}">
				<li routerLinkActive="active" class="edit-list_item" ><a [routerLink]="['categories']">Categories</a></li>
                <li routerLinkActive="active" class="edit-list_item" ><a  [routerLink]="['meals']">Meals</a></li>
                <li routerLinkActive="active" class="edit-list_item" ><a  [routerLink]="['info']">Info</a></li>
			</ul>
		</nav>
       
    </header>
