

/* similar */
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-container {
  align-self: center;
  margin-top: 35px;
}

.btn {
  font-size: 15px;
  line-height: 1rem;
  cursor: pointer;
  transition: all 0.5s linear;
  border-radius: 10px;
  background-color: #746672;
  color: white;
  height: 45px;
  padding: 0 1rem;
}


.btn:hover {
  background-color: #8a597f;
}

.edit-btn {
  height: 30px;
}

.sbm-btn {
  width: 70px;
  height: 30px;
  margin: 10px 10px 0 0;
  padding: 0;
}



/* popup */
.popup-holder,
.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px;


}

.popup-content {
  display: flex;
  flex-direction: column;
  width:340px;
  background: rgb(212, 209, 209);
  border-radius: 20px;
  border-color: rgb(68, 67, 67);
  box-shadow: dimgrey;
  padding: 5px, 5px;
}

.close-popap {
  align-self: flex-end;
  margin: 10px 10px 0 0;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.validation {
  align-self: center;
}

.text-input {
  display: block;
  width: 90%;
  padding: 5px;
  margin: 5px auto;
  border-radius: 10px;
  border: 1px solid rgb(77, 76, 76);
  transition: .3s border-color;
}

input[type=checkbox]+label {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: 0.2em;
  font-family: 'Arial'
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]+label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked+label:before {
  background-color: #093023;
  border-color: #093023;
  color: #fff;
}

.form-button {
  align-self: center;
  margin-bottom: 15px;
}



input.search-input {
  display: block;
  border: 1px solid grey;
  margin: 20px auto;
  width: 65%;
  height: 25px;
  text-align: center;
}



table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 85%;
  table-layout: fixed;

}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

.show {
  display: flex;
}

.hide {
  display: none;
}


@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
