<section class="container">
<div class="btn-container">
 <button class="btn" (click)="showEditForm()">Add meal</button>
</div>

 <div class="popup-holder" [ngClass]="{show: showFormEdit, hide: !showFormEdit}" >
      <div class="popup-content">
        <div class="close-popap" (click)="hideEditForm()">X</div>
         


<form class="form"  [formGroup]="form" (ngSubmit)='submit()' >

 <div class="preview-image" *ngIf="imgFile">
    <img [src]="imgFile" >
  </div>

  <div >
    <input class="input-download" 
    type="file" accept="image/*"  
    formControlName="file" (change)="onImageChange($event)"
    #input >
  </div>
  <button type="button" (click)="triggerClick()" class="btn-download"> 
    <img src="../../../assets/images/download.png" class="download-img"> 
    <span> Download image<sup>*</sup></span>
  </button>
 <div *ngIf="form.touched && form.invalid"  class="validation">
<small 
>img field is required</small>
</div>

  <label for="name">Title<sup>*</sup></label>
  <input id="name" class="text-input" type="text" placeholder="Enter meal name" formControlName="name">
  <div *ngIf="form.controls.name.touched && form.controls.name.invalid"  class="validation">
<small *ngIf="form.controls.name.errors?.required">name field is required</small>
<small *ngIf="form.controls.name.errors?.maxlength">name field length should be less than 30 symbols</small>
<small *ngIf="form.controls.name.errors?.titleExists">name field should be unique</small>
 <small *ngIf="form.controls.name.errors?.emptyString">name can not be empty field</small>
  </div>

  <label for="select">Select category for meal<sup>*</sup></label>
  <div class="select-container">
   <select id="select" placeholder="Enter meal mane" formControlName="categoryId"  >
       <option [ngValue]="category.id" *ngFor="let category of categories">{{category.title}}</option>
   </select>
   </div>
  
<label for="description">Description</label>
  <textarea id="description" class="text-input"  type="text"   placeholder="Enter meal description" formControlName="description"></textarea>
 
<label for="weight">Weight<sup>*</sup></label>
  <input id="weight" class="text-input"  type="text" placeholder="Enter meal weight" formControlName="weight">
  <div *ngIf="form.controls.weight.touched && form.controls.weight.invalid"  class="validation">
<small *ngIf="form.controls.weight.errors?.required">weight field is required</small>
<small *ngIf="form.controls.weight.errors?.maxlength">weight field length should be less than 5 symbols</small>
 <small *ngIf="form.controls.weight.errors?.emptyString">weight can not be empty field</small>
  </div>

  <label for="price">Price<sup>*</sup></label>
  <input id="price" class="text-input"  type="text"   placeholder="Enter meal price" formControlName="price">
  <div *ngIf="form.controls.price.touched && form.controls.price.invalid"  class="validation">
<small *ngIf="form.controls.price.errors?.required">price field is required</small>
<small *ngIf="form.controls.price.errors?.maxlength">price field length should be less than 5 symbols</small>
<small *ngIf="form.controls.price.errors?.emptyString">price can not be empty field</small>
  </div>

  <input class="checkbox-input" type="checkbox" id="availability" formControlName="availability" > 
   <label for="availability"> Availability</label>

 <div class="form-button"> 
   <button class="btn sbm-btn" type="submit" (click)="hideEditForm()" [disabled]="form.invalid">
     <span>Save</span>
    </button>
    <button class="btn sbm-btn" type="button" (click)="hideEditForm()">
     <span>Cancel</span>
    </button>
  </div>
    </form>
     </div>
</div>
  
<input class="search-input" type="text" [(ngModel)]="search " placeholder="Search meal..."> 
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Weight</th>
      <th scope="col">Price</th>
      <th scope="col">Availability</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals | filterMeal:search">
        <td data-label="Title">{{meal.name}}</td>
      <td data-label="Description">{{meal.description}}</td>
      <td data-label="Weight">{{meal.weight}}</td>
      <td data-label="Price">{{meal.price}}</td>

      <td data-label="Availability" *ngIf="meal.availability">
        <label class="switch">
  <input name="myData" type="checkbox"  checked (change)="toggleAvailability(meal.id, meal.availability)">
  <span class="slider round"></span>
</label>
      </td>

      <td data-label="Availability" *ngIf="!meal.availability">
        <label class="switch">
  <input name="myData"  type="checkbox" (change)="toggleAvailability(meal.id, meal.availability)">
  <span class="slider round"></span>
</label> 
      </td>
      <td data-label="Delete"><button class="btn edit-btn" (click)="deleteMeal(meal.id)">delete</button>
       <button class=" btn edit-btn" (click)="showEditForm(meal.id)">edit</button></td>
    </tr>
  </tbody>
</table>

    </section>
