<div class="container">
<div class="btn-container">
 <button class="btn" (click)="showEditForm(undefined)">Add meal</button>
</div>

 <div class="popup-holder" [ngClass]="{show: showFormEdit, hide: !showFormEdit}" >
      <div class="popup-content">
        <div class="close-popap" (click)="hideEditForm()">X</div>
         


<form class="form"  [formGroup]="form" (ngSubmit)='submit()' >

 <div class="preview-image" *ngIf="imgFile">
    <img [src]="imgFile" >
  </div>

  <div >
    <input class="input-download" 
    type="file" accept="image/*"  
    formControlName="file" (change)="onImageChange($event)"
    #input>
  </div>
  <button (click)="triggerClick()" class="btn-download"> 
    <img src="../../../assets/images/download.png" class="download-img"> 
    <span> Download image</span>
  </button>

  <input class="text-input" type="text"   placeholder="Enter meal name" formControlName="name">
  <div *ngIf="form.controls.name.touched && form.controls.name.invalid"  class="validation">
<small *ngIf="form.controls.name.errors?.required">Name field is required</small>
<small *ngIf="form.controls.name.errors?.maxlength">Name field length should be less than 30 symbols</small>
<small *ngIf="form.controls.name.errors?.titleExists">Name field should be unique</small>
  </div>

  <div class="select-container">
   <select  placeholder="Enter meal mane" formControlName="categoryId" >
       <option *ngFor="let category of categories"  [ngValue]="category.id" [selected]="category.id === categories[0].id">{{category.title}}</option>
   </select>
   </div>

  

  <textarea class="text-input"  type="text"   placeholder="Enter meal description" formControlName="description"></textarea>
 

  <input class="text-input"  type="text"   placeholder="Enter meal weight" formControlName="weight">
  <div *ngIf="form.controls.weight.touched && form.controls.weight.invalid"  class="validation">
<small *ngIf="form.controls.weight.errors?.required">Weight field is required</small>
<small *ngIf="form.controls.weight.errors?.maxlength">Weight field length should be less than 5 symbols</small>
  </div>

  <input class="text-input"  type="text"   placeholder="Enter meal price" formControlName="price">
  <div *ngIf="form.controls.price.touched && form.controls.price.invalid"  class="validation">
<small *ngIf="form.controls.price.errors?.required">Price field is required</small>
<small *ngIf="form.controls.price.errors?.maxlength">Price field length should be less than 5 symbols</small>
  </div>

  <input class="checkbox-input" type="checkbox" id="availability" formControlName="availability" > 
   <label for="availability"> Availability</label>

 <div class="form-button"> 
   <button class="btn sbm-btn" type="submit" (click)="hideEditForm()" [disabled]="form.invalid && form.touched">
     <span>Save</span>
    </button>
    <button class="btn sbm-btn" type="button" (click)="hideEditForm()">
     <span>Cancel</span>
    </button>
  </div>
    </form>
     </div>
</div>
  


<input class="search-input" type="text" [(ngModel)]="search " placeholder="Search meal..."> 
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Weight</th>
      <th scope="col">Price</th>
      <th scope="col">Availability</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals | filterMeal:search">
        <td data-label="Title">{{meal.name}}</td>
      <td data-label="Description">{{meal.description}}</td>
      <td data-label="Weight">{{meal.weight}}</td>
      <td data-label="Price">{{meal.price}}</td>
      <td data-label="Availability" *ngIf="meal.availability">
        <label class="switch">
  <input name="myData" #myCheckbox type="checkbox" value="meal.availability" (change)="toggleAvailability()">
  <span class="slider round"></span>
</label>
      </td>
      <td data-label="Availability" *ngIf="!meal.availability">
        <label class="switch">
  <input name="myData" #myCheckbox  type="checkbox" >
  <span class="slider round"></span>
</label> 
      </td>
      <td data-label="Delete"><button class="btn edit-btn" (click)="deleteMeal(meal.id)">delete</button></td>
      <td data-label="Edit"><button class=" btn edit-btn" (click)="showEditForm(meal.id)">edit</button></td>
    </tr>
  </tbody>
</table>

    </div>
